<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectoryLister.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DirectoryLister.Properties.Settings>
            <setting name="TargetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfSpacesForIndent" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaximumFolderDepth" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DirectoryPrefix" serializeAs="String">
                <value>- [</value>
            </setting>
            <setting name="DirectoryPostfix" serializeAs="String">
                <value>]</value>
            </setting>
            <setting name="FilePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePostfix" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludedExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSubdirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFullPathForDirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListSubdirectoryFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFullPathForFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTopLevelDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileExtensionRule" serializeAs="String">
                <value>0</value>
            </setting>
        </DirectoryLister.Properties.Settings>
    </userSettings>
</configuration>